<div class="container">                    <!-- User -->
	<div class="row">
		<div class="col-lg-3">
			<h2>Users info</h2>
            <img>
            <table class="table">
            	<tbody>
            		<tr>
            			<th>name</th>

            		</tr>
            		<tr>
            			<th>introduction</th>
            		</tr>
            	</tbody>
            </table>

				<a class="btn btn-default glyphicon glyphicon-wrench edit_user_313" href="/users/313/edit"></a>

			<h1>New Book</h1>                  <!--新規投稿-->
			<%= form_for(@book) do |f| %>

			<h4>Title</h4>
			<%= f.text_field :title %>

			<h4>Opinion</h4>
			<%= f.text_area :body %>
			<br>
			<%= f.submit 'Create Book' %>

			<% end %>

    	</div>
